# 파일 용도: 환경변수 예시

# Mason API 기본 경로
# VITE_API_BASE=http://localhost:8900/api/v1
# VITE_API_BASE=http://localhost:8910/api/v1
# VITE_API_BASE=http://localhost:8916/api/v1
# VITE_API_BASE=http://localhost:8925/api/v1

# E2E_API_URL_PREFIX=http://localhost
# E2E_API_PORT=
# E2E_API_BASE_PATH=/api/v1

# E2E_WEB_URL_PREFIX=http://localhost
# E2E_WEB_PORT=
# E2E_WEB_BASE_PATH=/

# E2E_LOGIN_ID=
# E2E_PASSWORD=

# EOF
